
h1{ 
    margin-top: 1.5em;
    font-family: "NostalgicRemain-Regular";
    font-size: 500%;
    text-align: center;
    color: rgb(34, 1, 16);
    animation: bounce 6s infinite;
    position: relative;
}

@font-face{
    font-family: "NostalgicRemain-Regular";
    src: url("font/nostalgic_remain/NostalgicRemain-Regular.otf");
    src: url("font/nostalgic_remain/NostalgicRemain-Regular.ttf") format("embedded-opentype");
    src: url("font/nostalgic_remain/NostalgicRemain-Regular.woff");
    src: url("font/nostalgic_remain/NostalgicRemain-Regular\ \(1\).woff2");
}

@keyframes bounce {
    0%  {top: 0.15em;}
    50% {top: 0.7em;}
    100% {top: 0.15em;}
}

@keyframes balance {
    0%  { transform:translateX(-10px) translateY(5px);} 
    50% { transform:translateX(0px) translateY(15px);}  
    100% { transform:translateX(10px) translateY(5px);} 
}


body {
    /*pas scroll*/
    overflow-x: hidden;
    overflow-y: hidden;
    /*curseur*/
    cursor: url("img/curseur.png") 15 15,pointer;
    /*fond*/
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

ul {
list-style-type: none;
margin-top: 10em;
margin-left: 17em;
text-align: justify;
}

div .button{
text-align:center;
}

.insidebox {
text-align: center;
}
.box {
margin: 4%;
justify-content: center;
border: solid, 1px;
border-color: rgb(255, 249, 250);
border-radius: 2em;

width: 90%;
height: 100%;
border:0.15em solid rgba(255, 227, 250, 0.9);
padding-bottom: 10%;
/*background-color: rgb(252, 248, 251);
padding-top: 0%;
color: #b9adad00;*/
}

.divider{
width:5px;
height:auto;
display:inline-block;
}
/*<!--boutons/liens-->*/
a{
color: rgb(48, 9, 9);
text-decoration: none;
}
a:hover{
color: rgb(255, 86, 142);
cursor: url("img/curseur.png") 15 15,auto;
}

.dessus{
    animation: balance 4.6s ease-in-out infinite alternate;
image-resolution: 300dpi;
position: absolute;
z-index: -1;
}

button{
cursor: url("img/curseur.png") 15 15,auto;
text-align: left;
width: 15%;
height: 2em;
background-color: rgba(224, 213, 199, 0);
font-size: 300%;
font-family:"NostalgicRemain-Regular";
padding: 6px 20px;
border-color: rgba(240, 248, 255, 0);

}

