
h1{ 
    font-family: "NostalgicRemain-Regular";
    font-size: 400%;
    text-align: center;
    color: rgb(255, 228, 246);
    padding: 2%;
    position: relative;
}

@font-face{
    font-family: "NostalgicRemain-Regular";
    src: url("font/nostalgic_remain/NostalgicRemain-Regular.otf");
    src: url("font/nostalgic_remain/NostalgicRemain-Regular.ttf") format("embedded-opentype");
    src: url("font/nostalgic_remain/NostalgicRemain-Regular.woff");
    src: url("font/nostalgic_remain/NostalgicRemain-Regular\ \(1\).woff2");
}

.container{
      
display: inline-flex;
flex-direction: row;
}

body {
    cursor: url("img/curseur.png") 15 15,pointer;

background-image : url("img/background2.png");
background-repeat: no-repeat;

background-attachment: fixed;
background-size: 100% 100%;
font-family: Courier New, monospace;
font-size: 100%;
color: rgb(208, 185, 211);

}

ul.menu{
    margin-top: 0%;
    margin-left: 77%;
    position: absolute;
    display: list-item;
    list-style: none;
    z-index: 1;
   
}

div .button{
text-align:center;
}

.insidebox {
   
margin-top: 5%;
margin-bottom: 5%;
height: fit-content;
}

.box {

border: solid, 1px;
border-color: rgb(37, 12, 48);
border-radius: 1%;
padding-left: 30%;
padding-right: 30%; 
width: 100%;
height: 100%;
border:2px solid rgba(247, 215, 189, 0.9);
background-color: rgb(240, 226, 238);

}

/*<!--boutons/liens-->*/
a{
color: rgb(48, 9, 9);
text-decoration: none;
}


a:hover{
    cursor: url("img/curseur.png") 15 15,pointer;
    color: rgb(196, 72, 34);

}

button{
    border-radius: 4%;
    cursor: url("img/curseur.png") 15 15,pointer;
    width: 260%;
    height: 300%;
    background-color: rgb(255, 215, 237);
    font-size: 170%;
    font-family:"NostalgicRemain-Regular";
    padding: 40%;
    
}

ul {
display: flex;
flex-direction: row;
justify-content: center;
list-style: none;
padding: 0%;

}

li.imglist{
    text-align: center;
    padding: 2%;
    margin: 2%;
    width: fit-content;
    background-color: rgb(33, 15, 66);
    border-radius: 1%;
    align-items: center;
    justify-content: center;
}

img {
}

.zoom:hover {
    padding: 10%;
background-color: rgba(0, 0, 0, 0.877);
-ms-transform: scale(1.5); 
-webkit-transform: scale(1.5); 
transform: scale(1.5); 
}
