
h1{ 
    font-family: "NostalgicRemain-Regular";
    font-size: 400%;
    text-align: center;
    color: rgb(252, 236, 236);
    position: relative;
}

@font-face{
    font-family: "NostalgicRemain-Regular";
    src: url("font/nostalgic_remain/NostalgicRemain-Regular.otf");
    src: url("font/nostalgic_remain/NostalgicRemain-Regular.ttf") format("embedded-opentype");
    src: url("font/nostalgic_remain/NostalgicRemain-Regular.woff");
    src: url("font/nostalgic_remain/NostalgicRemain-Regular\ \(1\).woff2");
}



body {

background-color: rgb(22, 18, 19);
background-image : url("img/background2.png");
background-repeat: no-repeat;

background-attachment: fixed;
background-size: 100% 100%;
font-family: Courier New, monospace;
font-size: 100%;
color: rgb(212, 231, 231);
text-align: center;
}


div .button{
text-align:center;
}

.insidebox {

margin-top: 5%;
margin-left: 0%;
margin-bottom: 5%;
height: fit-content;
}
.box {
margin-top: 0%;
margin-left: 3%;
border: solid, 1px;
border-color: rgb(248, 222, 226);
border-radius: 25px;
padding: 20px; 
width: 90%;
height: 100%;
border:2px solid rgba(247, 215, 189, 0.9);
background-color: rgb(252, 248, 251);

color: #b9adad;
}

/*<!--boutons/liens-->*/
a{
color: rgb(48, 9, 9);
text-decoration: none;
}
a:hover{
color: rgb(196, 72, 34);

}

button{
width: 15%;
height: 90px;
background-color: rgb(224, 213, 199);
font-size: 170%;
font-family:"NostalgicRemain-Regular";
padding: 6px 20px;
border-radius: 50px;

}

ul {

display: flex;
flex-direction: row;
justify-content: center;
list-style: none;
padding: 0;

}

ul li{
margin: 2%;
width: 100%;
background-color: rgb(29, 18, 18);
border-radius: 2%;
border-color: rgb(255, 61, 61);
}

img {
border-radius: 2%;
padding: 10%;
}

.zoom:hover {
-ms-transform: scale(1.5); 
-webkit-transform: scale(1.5); 
transform: scale(1.5); 
}
